<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/style.css"/>

  <script src="../js/libs/vue.js"></script>

  <script type="text/javascript">window.module = undefined</script>
  <title>Skelotron</title>
</head>

<body>
<script src="../js/libs/CSInterface.js"></script>


<div id="app" v-bind:style="{'background-color': bgColor}" v-cloak>
    <div class="content">
        <div class="group">
            <div class="func-button" v-on:click="getCompName()">Get Comp Name</div>
            {{ compName }}
        </div>

        <div class="group">
            <input type="text" class="textbox" placeholder="Rename layer" v-model="prefs.layerName"><br>
            <input type="checkbox" class="option-checkbox" v-model="prefs.increment" v-on:click="savePrefs()">
            <label for="autoBuild">Increment Names</label><br>
            <div class="func-button" v-on:click="renameLayers()">Rename Layers</div>
        </div>
    </div>
</div>


<script src="../js/app.js"></script>
</body>
</html>
